---
layout: default
---

<div class="wrapper">
  <div class="box">

  <h2>AIM collaborator: <strong>{{ page.academic_title }} {{ page.name }}</strong></h2>

  <p style="color: var(--rwth-black-50);">{{ page.affiliation }}</p>

  <img src="{{ site.baseurl }}/assets/collaborators/{{ page.identifier }}/{{ page.identifier }}.jpg" width = "20%" style="float: right;display: block; margin: 0 0 10px 30px" alt="Photo of {{ page.name }}">

  {{ page.content }}

  {% if page.external_links %}
  <ul class="member-links">
    {% for link in page.external_links %}
    <li><a href="{{ link.url }}" target="_blank">{{ link.name }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}

  <br>
  <h3>Joint publications of {{ page.name }} and AIM</h3>

  We have in total {% bibliography_count --file bib --query @*[author~= {{page.surname}}. {{page.short_name}}] %} publications with {{page.short_name}}.

  {% bibliography --file bib --query @*[author~= {{page.surname}}] %}

  <div style="clear: both"></div>

  </div>
</div>
