<section>
  <h1>Contact</h1>

  <p>
    RWTH Chair for AI Methodology<br>
    Theaterstraße 35-39<br>
    52062 Aachen
  </p>

  <p>
    <strong>Are you interested in a collaboration?</strong><br>Get to know more on our <a href="{{ site.baseurl }}/contact.html">contact page</a>.
  </p>
  
  <br><br><br><p>The RWTH Chair of Artificial Intelligence Methodology is generously supported by an Alexander von Humboldt Professorship in AI awarded in 2022 to Prof. Holger H. Hoos, with funding provided by the Federal Ministry of Education and Research as part of the German AI Strategy.</p>

  <br><p>© 2022 - {{ 'now' | date: "%Y" }} RWTH Chair for AI Methodology</p>
</section>

<section id="links">
  <h1>External links</h1>
  <ul>
    <li><a href="{{ site.baseurl }}/disclaimer.html">Disclaimer</a></li>
    <li><a href="https://www.rwth-aachen.de/" target="_blank">RWTH Aachen University</a></li>
    <li><a href="https://ada.liacs.nl" target="_blank">ADA Research Group</a></li>
    <li><a href='https://liacs.leidenuniv.nl' target="_blank">LIACS</a></li>
    <li><a href='https://www.universiteitleiden.nl' target="_blank">Leiden University</a></li>
    <li><a href='https://www.ubc.ca' target="_blank">University of British Columbia (UBC)</a></li>
    <li><a href='https://www.humboldt-foundation.de/en/' target="_blank">Alexander von Humboldt Foundation</a></li>

  <br><img style="width: 50%" src="{{ '/assets/images/logo/AvH_Logo.png' | relative_url }}" class="centerImage" alt="AvH Logo">
  </ul>
</section>
