  <h1>Press and Talk inquiries</h1>
  <img style="float: left; margin: 10px 30px 0 0" src="assets/images/media/contact.png" class="member-image">
  <p>Please address all press and talk inquiries with "EXAMPLE NAME" or related to "EXAMPLE ORGANISATION" to our <a href="mailto:example@example.de">Research Network Coordinator</a>.</p> 
  <p>Visit our <a href="{{ site.baseurl }}/media.html" target="_blank">media website</a> for an overview of our past media coverage and for "EXAMPLE NAME" press kit.</p>